body {
    font-family: 'Fascinate', cursive;
    min-width: 975px;
}
.header {
    height: 400px;
    background-image: url("../imgs/piggybank.png");
    background-size: cover;
    background-position: 50%;
}
.name h1 {
    position: absolute;
    top: 8%;
    left: 7%;
    margin: 0% auto;
    font-size: 5em;
    color: rgb(185, 112, 41);
}
.eslogan h2 {
    float: right;
    margin: 6% 4.5% 0% 0%;
    font-size: 45px;
    text-align: right;
    color: rgba(82, 53, 53, 0.973); 
}
.products {
    background-color: rgb(48, 44, 44);
    padding-bottom: 5em;
    display: flow-root;
}
.products h3 {
    text-align: center;
    margin: 0% auto;
    padding: 6% 0 4% 0;
    font-size: 2em;
    color: rgb(184, 146, 76);
}
.products table {
    width: 50%;
    margin: auto;
    color: antiquewhite;
    text-align: left;
}
.products td{
    width: 50%;
    padding: 2em;

}
.products p {
    margin-left: 3em;
    font-size: 1.25em;

}
.products img {
    width: 300px;
    height: 200px;
    border: solid 1px rgb(184, 146, 76);
    min-width: 20px;
}
.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112, 41);
    color: white;
    text-align: center;
}